<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    <!-- 引入 ECharts 文件 -->
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <title>{{title}}</title>
    <style type="text/css">
    html, body
    {
        padding: 0;
        margin: 0;
        height: 100%;
        overflow:hidden;
    }
    #history_cpu_sum
    {
        height: 100%;
        z-index: 0;
    }
    </style>
</head>
<body>
    <div id="{{div_name}}" style="height: 100%; width: 100%"></div>
    <script type="text/javascript">
        var areaChart = echarts.init(document.getElementById('{{div_name}}'));
        var option = {
            tooltip: {
                trigger: 'axis',
                position: function (pt) {
                    return [pt[0], '10%'];
                }
            },
            title: {
                left: 'center',
                text: "{{chart_title}}",
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: []
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '100%']
            },
            dataZoom: [{
                type: 'inside',
                start: 0,
                end: 100
            }, {
                start: 0,
                end: 100,
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleSize: '80%',
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2,
                    shadowOffsetY: 2
                }
            }],
            series: [
                {
                    name:"{{data_legend}}",
                    type:'line',
                    smooth:true,
                    symbol: 'none',
                    sampling: 'average',
                    itemStyle: {
                        normal: {
                            color: 'rgb(255, 70, 131)'
                        }
                    },
                    areaStyle: {
                        normal: {
                            color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                offset: 0,
                                color: 'rgb(255, 158, 68)'
                            }, {
                                offset: 1,
                                color: 'rgb(255, 70, 131)'
                            }])
                        }
                    },
                    data: []
                }
            ]
        };
        var debug_info;
        $.get("{{api_name}}",function(response){
            debug_info = JSON.parse(response)
            var return_data = JSON.parse(response)
            var tick = return_data['tick']
            var popped = tick.pop()
            option['series'][0]['data'] = return_data['data']
            option['xAxis']['data'] = tick
            areaChart.setOption(option)
            console.log("{{chart_title}}的数据加载结束")
        });
    </script>
</body>
</html>